@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Color+Emoji&family=Rubik+Doodle+Shadow&display=swap&display=swap');

:root {
    --gradient-start: #7A59FF;
    --gradient-end: #923DFF;
    --selected: #FCFCFC;
    --divider: #FFFFFF;
    --neutral: #CFCFCF;
}

::-webkit-scrollbar {
    width: 0;
}

/* TEST CODE */

/* * {
    outline: 1px solid red;
} */

/* END TEST CODE */

body {
    background: linear-gradient(var(--gradient-start), var(--gradient-end));
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body::before {
    content: "";
    display: block;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11px;
    list-style: none;
    padding: 0;
}

ul * {
    color: var(--neutral);
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
}

.selected a {
    color: var(--selected) !important;
    font-weight: 900 !important;
}

.dot {
    color: var(--divider);
    font-size: 15px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 164px;
    min-width: 0;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    place-items: center;
    box-sizing: content-box;
}

.underline {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

hr {
    border-bottom: none;
    border-color: #923DFF;
}

.footer-content {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.menu, .menu-close {
    font-size: 45px;
    color: var(--divider);
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 9999999;
}

.footer-menu {
    transition: 0.25s all;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(var(--gradient-start), var(--gradient-end));
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    display: none;
}

.footer-menu::before {
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.footer-menu ul li {
    background: rgb(59, 0, 185, 0.35);
    color: #FFF;
    font-family: "Inter", sans-serif;
    padding: 6px;
    aspect-ratio: 378 / 58;
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0;
}

.footer-menu a {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    width: 447px;
    aspect-ratio: 447 / 245;

    background-color: #FCFCFC;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.card .logo, .card h5 {
    margin: 0;
    padding: 0;
    position: relative;
}

.card h5 {
    color: #CFCFCF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 400px;
}

.card .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 10px;
}

.card .logo h2 {
    color: #FCFCFC;
    
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.card .logo img {
    width: 49px;
}

.card-luna {
    background: linear-gradient(#6774EC, #A933E0);
}

.card-athena {
    background: linear-gradient(#FFFFFF, #404040);
}

.card-pastel {
    background: linear-gradient(#F8FFA7, #FC76FF);
}

.card-axolotl {
    background: linear-gradient(#FC76FF, #8774FF);
}

.card-chime {
    background: linear-gradient(#2D2D2D, #654BFF);
}

.card-cwpft {
    background: linear-gradient(#AF49FF, #654BFF);
}

.card::before {
    content: "";
    position: absolute;
    display: block;

    border-radius: 15px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.60));
    width: 100%;
    height: 100%;
}

.card.fade-35::before {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
}

.card.badge::after {
    content: "";
    position: absolute;
    display: block;
    font-family: 'Inter', sans-serif;

    aspect-ratio: 61 / 24;
    width: 61px;
    margin: 9px;
    top: 0;
    right: 0;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FCFCFC;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
}

.card.badge.alpha::after {
    content: "Alpha";
    color: #FCFCFC;
    background-color: #EC6452;
}

.scroll {
    background-color: #FCFCFC;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scroll i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
}

.scroll {
    display: none;
    bottom: 100px;
}

.scroll .bx-chevron-up {
    display: none;
}

.emoji {
    font-family: 'Noto Color Emoji' !important;
}

@media only screen and (max-width: 1720px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
        margin-top: 20px;
    }

    .scroll {
        bottom: 70px;
    }
}

@media only screen and (max-width: 1460px) {
    .footer hr {
        display: none;
    }

    .footer .footer-content {
        display: none;
    }

    .bx-menu {
        display: block;
    }
}

@media only screen and (max-width: 1120px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 60px;
        margin-top: 20px;
    }

    .scroll {
        bottom: 85px;
    }
}
