@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Color+Emoji&display=swap&display=swap');

:root {
    --gradient-start: #511243;
    --gradient-end: #310F46;
    --card-color: rgba(22, 22, 22, 0.5);
    --card-section-color: rgba(0, 0, 0, 0.15);
    --selected-nav-color: rgba(255, 183, 248, 0.45);
    --hover-nav-color: rgba(109, 58, 105, 0.45);
    --modal-color: rgb(33, 8, 37);
    --close-button-color: rgba(47, 8, 43, 0.7);
    --default-text: #FFFFFF;
    --neutral-text: #CFCFCF;

    /* Changing Vars */
    --nav-pointer-events: all;
    --nav-cursor: default;
}

body {
    background: linear-gradient(var(--gradient-start), var(--gradient-end));
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: var(--default-text);
    overflow: hidden;
}

a {
    color: var(--default-text);
    text-decoration: none;
}

.page {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
}

iframe {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: all;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 1;
    pointer-events: var(--nav-pointer-events);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 1;
    pointer-events: var(--nav-pointer-events);
}

button {
    transition: 0.15s all;
}

div {
    transition: 0.25s all;
}

nav {
    transition: 0.25s all;
}

li {
    transition: 0.25s all;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Modal */
.modal {
    visibility: hidden;
    opacity: 0;

    transition: 0.25s all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 30px;
    background-color: var(--modal-color);
    z-index: 999999999;
    display: flex;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.modal h1.title {
    justify-self: flex-start;
    font-weight: 900;
}

.modal h4.body {
    width: 95%;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
    font-weight: 700;
    font-size: 22.5px;
    justify-self: center;
}

.modal button.close {
    font-family: 'Inter', sans-serif;
    background-color: var(--close-button-color);
    color: var(--default-text);
    padding: 16px 35px 16px 35px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    justify-self: flex-end;
    cursor: pointer;
}

.modal button.close:hover {
    filter: brightness(90%);
}

.modal button.close:active {
    filter: brightness(80%);
}

/* Nav Styles */

nav {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--card-color);
    border-radius: 15px;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

nav li {
    list-style: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    cursor: var(--nav-cursor) !important;
    font-synthesis: none;
    font-size-adjust: none;
    text-wrap: nowrap;
}

nav li:hover:not(.selected) {
    background-color: var(--hover-nav-color);
}

nav li.selected {
    font-weight: 900 !important;
    cursor: default;
}

.selector {
    background-color: var(--selected-nav-color);
    position: absolute;
    transition: none;
    border-radius: 10px;
    z-index: -1;
}

nav button {
    padding: 0 !important;
    margin: 0 !important;
    background: none;
    border: none;
    outline: none;
    color: var(--default-text);
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

/* Footer Styles */

footer {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--card-color);
    border-radius: 15px;
    display: flex;
    padding: 20px 25px 20px 25px;
    justify-content: center;
    gap: 20px;
}

/* Smaller Screen Sizes */
@media only screen and (max-width: 2349px) {
    .modal {
        width: 65%;
    }
}

@media only screen and (max-width: 1807px) {
    .modal {
        width: 75%;
    }
}

@media only screen and (max-width: 1566px) {
    .modal {
        width: 85%;
    }
}

@media only screen and (max-width: 1382px) {
    .modal h4 {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 1305px) {
    .modal h4 {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 686px) {
    .modal h4 {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 680px) {
    nav li {
        font-size: 12px;
    }

    .modal h4 {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 512px) {
    .modal h4 {
        font-size: 11px !important;
    }
}

/* Floater Styles */
.floater {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 30px;
    background-color: var(--card-color);
    padding: 12px;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99999;
}

.floater img {
    width: 30px;
}

.floater.left {
    left: 25px;
    font-size: 25px;
}

.floater .solid {
    display: none;
    color: rgb(255, 255, 110);
}

.floater:hover .normal {
    display: none;
}

.floater:hover .solid {
    display: flex;
}

.floater:hover {
    filter: brightness(80%);
}

.floater:active {
    filter: brightness(50%);
}
