:root {
    --window-width: 580px;
    --about-width: 350px;
    --download-width: 550px;
}

* {
    user-select: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

body {
    transition: all 0.5s;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(140deg, #ffe3ac, #ffb4e8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
}

.active {
    z-index: 99999 !important;
}

.tabbar {
    position: absolute;
    width: 100vw;
    height: 40px;
    right: 0;
    bottom: 0;
}

.tab {
    padding: 5px;
    background-image: linear-gradient(140deg, #ffd788, #ff7fd9, #ff7fd9, #ffd788);
    background-size: cover;
    color: #fcfcfc;
    position: relative;
    float: right;
    width: auto;
    height: 20px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 9999999;
    margin-right: 5px;
    background-position: left;
    background-size: 300%;
    transition: 0.85s background-position ease-in-out;

}

.tab:hover {
    cursor: pointer;
    background-position: right;
}

.tab:active {
    filter: brightness(90%);
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

.window {
    position: absolute;
    max-width: 90%;
    width: var(--window-width);
    background-color: #ffd2f5;
    border: #f6b0ff 2px solid;
    border-radius: 5px;
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
    transition: width 1s;
    perspective-origin: center;
    z-index: 99;
}

.titlebar {
    position: relative;
    background-color: #ffbcf0;
    max-width: 100%;
    width: inherit;
    height: 25px;
    border-bottom: 1px solid #f6b0ff;
    border-radius: 5px 5px 0 0;
}

.titlebar i {
    position: relative;
}

.content {
    position: relative;
    max-width: 100%;
    width: inherit;
    height: 100%;
    max-height: 100%;
    color: #fafafa;
}

.content div {
    justify-content: space-between;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    float: left;
    height: inherit;
    margin: 10px;
}

.content .right {
    float: right;
}

.content .flags {
    position: absolute;
    width: inherit;
    bottom: 10px;
    left: 10%;
    pointer-events: none;
}

.non-binary {
    position: absolute;
    width: 70px;
    height: 50px !important;
    bottom: 74%;
    left: 20%;
    background-image: linear-gradient(-180deg, #ffff00 25%, #ffffff 25%, 50%, #800080 50%, 75%, #000000 75%);
    border-radius: 10px;
}

.bi-sexual {
    position: absolute;
    width: 70px;
    height: 50px !important;
    bottom: 74%;
    left: 38%;
    background-image: linear-gradient(-180deg, hotpink 40%, hotpink 40%, 40%, #800080 65%, #800080 65%, 65%, navy 85%, navy 85%);
    border-radius: 10px;
}

.close {
    font-size: 20px;
    top: 50%;                                                                          
    transform: translateY(-50%);
    background-image: linear-gradient(#ff4486, #ff0059);
    color: #fcfcfc;
    border-radius: 5px;
    float: right;
    margin-right: 5px;
}

.close:hover {
    filter: brightness(150%);
}

.close:active {
    filter: brightness(90%);
}

.title {
    color: #fcfcfc;
    height: 30px;
}

.title p {
    position: relative;
    background: transparent;
    font-size: 18px;
    height: 25px;
    top: 50%;
    left: 5px;
    width: 100%;
    transform: translateY(-50%);
}

.container {
    cursor: default;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    width: 32px;
}

.drag {
    cursor: move;
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    background: transparent;
}

.social {
    top: 40%;
    left: 5%;
    transform: translateY(-50%);
}

.about {
    width: var(--about-width);
    aspect-ratio: 16 / 5;
    top: 58%;
    left: 28%;
    transform: translateY(-50%);
}

.docs {
    top: 40%;
    left: 54%;
    transform: translateY(-50%);
}

.download {
    width: var(--download-width);
    aspect-ratio: 16 / 5;
    top: 80%;
    left: 54%;
    transform: translateY(-50%);
}

face {
    position: absolute;
    writing-mode: vertical-lr;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    background-image: url('https://img.shields.io/badge/Download-Unknown-red?style=for-the-badge');
    width: 214px;
    height: 30px;
    background-repeat: no-repeat;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    filter: brightness(90%);
}

.download .content div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    gap: 5px;
}

.hazel-client {
    background-image: url('https://img.shields.io/badge/Download-Hazel_Client-yellow?style=for-the-badge');
}

.hazel-craft {
    background-image: url('https://img.shields.io/badge/Download-Hazel_Craft-green?style=for-the-badge');
}

.bl {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 99;
}

.lbl {
    position: relative;
    top: -10px;
    left: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 0px;
    margin: 0 auto;
    padding: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffb4e8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #ffdc96;
}

.slider::before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ffd47d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffd47d;
}

input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* .body {
    width: 100vw;
    height: 100vh;
}

--titlebar-height: 30px;
    --window-height: 360px;
    --window-width: 580px;
    --light-red: #c53939;
    --color-0: #1c1c1c;
    --color-1: #32302F;
    --color-2: #3e3c3baf;
    --color: #000000;
    --color-3: #ffffff;

.show {
    display: block;
}

.hide {
    display: none;
}

.window {
    position: absolute;
    background-color: var(--color-1);
    width: var(--window-width);
    height: var(--window-height);
    border-radius: 5px;
    top: 20px;
    left: 10px;
    transform: translate(-50%, -50%);
}

.titlebar {
    position: relative;
    background-color: var(--color-1);
    width: var(--window-width);
    height: var(--titlebar-height);
    border-bottom: 1px solid var(--color);
}

.titlebar i {
    position: relative;
}

.drag {
    cursor: move;
    position: absolute;
    width: 100%;
    height: var(--titlebar-height);
    background: var(--color-1);
}

.container {
    cursor: default;
    position: absolute;
    right: 0;
    background: var(--color-1);
    height: 30px;
    width: 55px;
}

.close,
.minimize {
    background: var(--color-1);
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    background-color: var(--light-red);
    border-radius: 5px;
    float: right;
    margin-right: 5px;
}

.minimize {
    background-color: var(--color-2);
    border-radius: 5px;
    float: right;
    margin-right: 5px;
    color: var(--color-3);
}

.boxiconclickable:hover {
    cursor: pointer;
    filter: brightness(150%);
}

.boxiconclickable:active {
    filter: brightness(50%);
}

.minimize:hover {
    cursor: default;
}

.minimize:active {
    filter: brightness(150%);
}

.title {
    cursor: default;
    position: absolute;
    left: 0;
    background: var(--color-1);
    height: 30px;
    width: 100px;
    z-index: 999;
}

.title p {
    position: relative;
    background: var(--color-1);
    font-size: 18px;
    top: 50%;
    left: 5px;
    width: 100%;
    transform: translateY(-50%);
} */