@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Color+Emoji&display=swap&display=swap');

:root {
    --gradient-start: #7A59FF;
    --gradient-end: #923DFF;
    --selected: #FCFCFC;
    --divider: #FFFFFF;
    --neutral: #CFCFCF;
}

/* TEST CODE */

/* * {
    outline: 1px solid red;
} */

/* END TEST CODE */

body {
    background: linear-gradient(var(--gradient-start), var(--gradient-end));
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body::before {
    content: "";
    display: block;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11px;
    list-style: none;
}

ul * {
    color: var(--neutral);
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
}

.selected a {
    color: var(--selected) !important;
    font-weight: 900 !important;
}

.dot {
    color: var(--divider);
    font-size: 15px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    position: relative;
    top: 0;
    left: 0;
    width: 14rem;
    border-radius: 111px;
}

.img {
    position: relative;
    width: 14rem;
    height: 14rem;
}

.img::before {
    content: "";
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: #737373;
    z-index: 99;
    border-radius: 100px;
    border: 2px solid var(--neutral);
    box-sizing: border-box;
}

.img::after {
    font-family: 'Noto Color Emoji', sans-serif;
    content: "☕";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0.85), #F5F5F5);
    z-index: 999;
    border-radius: 100px;
    border: 2px solid var(--neutral);
    box-sizing: border-box;
    line-height: 36px;
}

h2 {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    position: relative;
    color: white;
    font-weight: 600;
    gap: 10px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    color: var(--neutral);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 950px;
}

.underline {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

hr {
    border-bottom: none;
    border-color: #923DFF;
}

.footer-content {
    width: 100%;
    position: absolute;
    bottom: 10px;
}
